<nav class="hidden md:flex w-full fixed top-0 z-[2000] bg-neutral-200 p-4">
  <%= link_to 'Home', '/#', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  <%= link_to 'Info', '/#info', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  <%= link_to 'Party', '/#party', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  <%= link_to 'Travel', '/#travel', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  <%#= link_to 'Gallery', '/#gallery', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  <%= link_to 'Registry', 'https://registry.theknot.com/kiara-lopez-nathan-hamilton-october-2023-co/58850908', target: '_blank', class: "rounded-lg px-3 py-2 text-slate-700 font-medium bg-slate-100 hover:text-slate-900" %>
  <%= link_to 'Live Stream', 'https://www.youtube.com/@NateKiaraHamilton/live', class: "rounded-lg px-3 py-2 text-[#fefae0] font-medium hover:bg-slate-300 hover:text-slate-900 ml-auto mr-5 bg-gradient-to-r from-[#ff776d] to-[#00afff] rounded animate-bounce" %>
</nav>

<nav data-controller="nav-bar" class="md:hidden w-full fixed top-0 z-[2000] bg-neutral-200 p-2">
  <div class="flex">
    <button id="nav-menu-toggle" class="ml-5" style="display: block">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
        <path class="fill-slate-700" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
      </svg>
    </button>
    <%= link_to 'Live Stream', 'https://www.youtube.com/@NateKiaraHamilton/live', class: "rounded-lg px-3 py-2 text-[#fefae0] font-medium hover:bg-slate-300 hover:text-slate-900 ml-auto mr-5 bg-gradient-to-r from-[#ff776d] to-[#00afff] rounded" %>
  </div>
  <div id="nav-menu-mobile" class="flex-col rounded-lg bg-white rounded-b-lg z-[2000] mt-4" style="display: none">
    <%= link_to 'Home', '/#intro', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
    <%= link_to 'Info', '/#info', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
    <%= link_to 'Party', '/#party', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
    <%= link_to 'Travel', '/#travel', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
    <%= link_to 'Registry', 'https://registry.theknot.com/kiara-lopez-nathan-hamilton-october-2023-co/58850908', target: '_blank', class: "rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-300 hover:text-slate-900" %>
  </div>
  <div id="nav-menu-fill" class="h-screen w-screen absolute" style="display: none">
  </div>
</nav>
