<div class="flex justify-center items-center lg:h-[40rem] text-[#6a040f] w-3/4 mx-auto">
  <div class="mx-auto flex flex-col gap-6 mx-4 my-6">
    <div class="flex flex-col gap-3 p-2 text-[#f3eed9]">
      <div class="text-2xl md:text-6xl font-extrabold text-center">places to stay nearby</div>
    </div>
    <div class="flex flex-wrap flex-col lg:flex-row gap-6 content-center">
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Fairfield Inn & Suites by Marriott Denver Tech Center/South</h3>
        <%= link_to "(303) 290-6700", "tel:3032906700", class: "text-blue-400" %>
        <h4>7056 E County Line Rd, Highlands Ranch, CO 80126</h4>
        <h4>~1.2 miles from the church~</h4>
      </div>
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Comfort Suites Highlands Ranch Denver Tech Center Area</h3>
        <%= link_to "(303) 770-5400", "tel:3037705400", class: "text-blue-400" %>
        <h4>7060 E County Line Rd, Highlands Ranch, CO 80126</h4>
        <h4>~1.2 miles from the church~</h4>
      </div>
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Courtyard by Marriott Denver Southwest/Littleton</h3>
        <%= link_to "(303) 791-3001", "tel:3037913001", class: "text-blue-400" %>
        <h4>3056 W County Line Rd, Littleton, CO 80129</h4>
        <h4>~5.9 miles from the church~</h4>
      </div>
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Residence Inn by Marriott Denver Southwest/Littleton</h3>
        <%= link_to "(303) 791-3010", "tel:3037913010", class: "text-blue-400" %>
        <h4>3090 W County Line Rd, Littleton, CO 80129</h4>
        <h4>~5.9 miles from the church~</h4>
      </div>
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Hampton Inn & Suites Denver/Highlands Ranch</h3>
        <%= link_to "(303) 794-1800", "tel:3037941800", class: "text-blue-400" %>
        <h4>3095 W County Line Rd, Highlands Ranch, CO 80129</h4>
        <h4>~5.9 miles from the church~</h4>
      </div>
      <div class="grow text-lg font-semibold bg-[#f3eed9] text-center p-6">
        <h3 class="text-xl font-extrabold">Staybridge Suites Denver South - Highlands Ranch</h3>
        <%= link_to "(303) 347-9901", "tel:3033479901", class: "text-blue-400" %>
        <h4>8211 Southpark Cir, Littleton, CO 80120</h4>
        <h4>~5.9 miles from the church~</h4>
      </div>
    </div>
  </div>
</div>